<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Styles/Payslip.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payslips</title>
</head>
<body>
    <div class="dashboard">

        <!--HEADER-->
        <div class="header">
            <div class="logo">
                <h3>PayRoll</h3>
            </div>
            <div class="navbar">
                <input type="text" placeholder="Search..." name="search" id="search_bar">
                <div class="navbar_r">
                    <button></button>
                    <div class="profile_">JD</div>
                </div>
            </div>
        </div>
        <div class="content">

            <!--NAV_BAR-->
            <div class="navbar_static">
                <div class="navbar_l">
                <button type="">Dashboard</button>
                <button type="">Employees</button>
                <button type="">Payroll Run</button>
                <button type="">Payslips</button>                    
                <button type="">Settings</button>
            </div>
            <div class="nav_footer">
                <div class="profile_">JD</div>
                <div class="name">
                    <p>
                        John Doe <br>
                        <span>Admin</span>
                    </p>
                </div>
                </div>
            </div>

            <!--MAIN_CONTENT-->
            <div>

            </div>

        </div>